<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TableViewDisplayableSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>572179CA1C8B2FCE00406ED1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>572179E01C8B2FCF00406ED1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>572179EB1C8B2FCF00406ED1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
